.headx {
    width: 100%;
    height: 110px;
    background-color: #3873d9;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 20px;
    text-align: right;
    font-size: 20px;
}

.main {
    height: 500px;
}

.leftsidebar {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.center {
    width: 60%;
    height: 100%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.rightsidebar {
    width: 20%;
    height: 100%;
    background-color: #1bafe4;
    box-sizing: border-box;
    float: right;
}

.main-left2 {
    width: 100%;
    height: 25%;
    background-color: #ecdd0a;
    text-align: center;
    overflow: auto;
    margin-bottom: 5px;
}

.main-left5 {
    width: 100%;
    height: 370px;
    text-align: center;
    overflow: auto;
    background-color: #f3ef2e;
}

.img {
    text-align: center;
    height: auto;
    width: 100%;
}

.main-center3 {

    height: 400px;
    background-color: #1566e0;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    margin-bottom: 5px;
}

.main-center-6 {
    width: 100%;
    height: 95px;
    background-color: #f4e75d;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
}

.main-right4 {
    height: 500px;
    background-color: #1bafe4;
    overflow: auto;
}

.footery {
    width: 100%;
    height: 110px;
    background-color: #a6a4df;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 30px;
    
    text-align: right;
    font-size: 15px;
}